.row
  .large-10.columns.large-centered
    %h3.subheader
      %a
        Welcome to Dev BootCamp's Cohorts
  .large-10.columns.large-centered.panel
    .row
      = render "layouts/commitment_tool"
    - @cohorts.each do |cohort|
      .row
        .large-2.columns.subheader.centered
          = link_to cohort.name, cohort_path(cohort)
        .large-2.columns.subheader.centered
          = cohort.start_date.to_date
        .large-2.columns.subheader.centered
          = cohort.end_date.to_date
        .large-3.columns.subheader.centered
          M #{cohort.mentors.count} B #{cohort.boots.count} 
        .large-3.columns.subheader.centered
          = cohort.stage.ordinalize
          Week
  .large-10.columns.large-centered.panel
    .row
      = render "layouts/new_cohort"
