.row
  .large-10.columns.large-centered.panel
    .row
      .large-3.columns
        %h3.subheader.centered.inline
          %a
            =@cohort.name.capitalize
      .large-5.columns
        %h6.subheader.centered.inline
          start: 
          %a
            = @cohort.start_date
        %h6.subheader.centered.inline
          graduation: 
          %a
            = @cohort.end_date
      .large-4.columns
        = link_to "Notify Pairs!", notify_path(cohort_id: @cohort.id), class: "button tiny radius success", id: "notify_pairs", :data => { :"cohort-id" => @cohort.id}
        = link_to "create cohort message", "#", :data  => { "reveal-id" => "notify"}, class: "button tiny success radius"
    .row.padded
      .large-8.columns.large-centered
        .row.padded
          .large-4.columns
          .large-3.columns
          .large-5.columns
    .row
      = render "layouts/pairing_tool"
    .row
      .large-12.columns.large-centered
        %h3.subheader
          %a
            Mentors
            (#{@cohort.mentors.count})
        - @cohort.mentors.each do |mentor|
          .row
            .large-11.columns.large-offset-1
              .row
                .large-4.columns
                  #{mentor.first_name} #{mentor.last_name}
                .large-4.columns
                  = mail_to mentor.email
                .large-3.columns
                  Mentees:
                  = mentor.mentees.count
                .large-1.columns
                  = link_to "X", commitment_path(mentor.id), method: :delete
          .row.padded
            .large-6.columns.large-centered
              Interests: 
              = mentor.interests
        %h3.subheader
          %a
            Boots
            (#{@cohort.boots.count})
        - @cohort.boots.each do |boot|
          .row
            .large-11.columns.large-offset-1
              .row.padded
                .large-4.columns
                  #{boot.first_name} #{boot.last_name}
                .large-4.columns
                  = mail_to boot.email
                .large-4.columns
                  Mentors: 
                  = boot.pairings.count
          .row
            .large-11.columns.large-offset-1
              .row.padded
                .large-6.columns.large-centered
                  Interests: 
                  = boot.interests
                  - unless boot.pairings
                    %hr
              - if boot.pairings
                .row
                  .large-7.columns.large-centered
                    .ul.no-bullet
                      - boot.pairings.each_with_index do |pairing, n|
                        %li.padded
                          mentor # #{n+1}
                          = User.find(pairing.mentor.id).full_name
                          = link_to "notify!", notify_path(pairing_id: pairing.id), class: "button tiny radius"
                          = link_to "cancel pairing", pairing_path(pairing.id), :method =>  :delete, class: "button tiny radius"
                .row
                  .large-12.columns
                    %hr
  .large-10.columns.large-centered.panel
    .row
      = render "layouts/commitment_tool"
=render "layouts/message_cohort_modal"
