.row
  .large-10.columns.large-centered.panel
    .row
      .large-8.columns
        %h2.subheader.centered
          %a
            =@cohort.name.capitalize
            (#{@cohort.boots.count})
      .large-3.columns
        .button.tiny.assign
          Assign Mentees
      .large-1.columns
    .row
      .large-6.columns
        %h4.subheader.centered
          start: 
          %a
            = @cohort.start_date
      .large-6.columns
        %h4.subheader.centered
          graduation: 
          %a
            = @cohort.end_date
    %h3.subheader
      %a
        Mentors
        (#{@cohort.mentors.count})
    - @cohort.mentors.each do |mentor|
      .row
        .large-11.columns.large-offset-1
          .row
            .large-4.columns
              #{mentor.first_name} #{mentor.last_name}
            .large-4.columns
              = mentor.email
            .large-4.columns
              = mentor.contact_phone
