.row
  .large-11.columns.large-centered
    %h2.subheader.centered
      %a
        Welcome to the DevBootcamp Mentorship Community
.row
  .large-10.columns.large-centered
    = form_for @user, html: { id: "new_user_form" } do |u|
      %fieldset
        %legend
          %h3.subheader
            Please Tell Us About You
        = render partial: 'layouts/userinfo', locals: { u: u }
        = render partial: 'layouts/cohort_select', locals: { u: u }
        = render partial: 'layouts/mentor_info', locals: { u: u }
        .row
          .columns.large-4.large-centered
            = u.submit "Sign UP !", class: "success button expand margin-top"
