%h3
  Greetings #{@user.first_name.capitalize}, thanks for joining the community.
%p 
  Since the next Cohort, the #{@cohort.name} starts on #{@cohort.start_date.strftime("%B #{@cohort.start_date.day.ordinalize}")}, we will be hosting an informal meet and greet for Mentors and Mentees to connect. For more information, 
%h4
  = link_to "http://devbootcampmentorship.eventbrite.com/", "http://devbootcampmentorship.eventbrite.com/"
%p
  If you have any questions comments or concerns please contact #{mail_to "john@devbootcamp.com"} or #{mail_to "brett@devbootcamp.com"}.  
%h3
  Happy Mentoring!
