%h3
  Greetings #{@user.first_name.capitalize}, thanks for joining the community.
%p
  We will be hosting an informal meet and greet with Dev Bootcamp's Newest Cohort, the #{@cohort.name}, on the night of the  #{Cohort.next_local(@user).mentor_night.day.ordinalize}.  Come meet new Boots, have pizza and checkout Dev Bootcamp.  More information;
%h4
  = link_to "http://devbootcampmentorship.eventbrite.com/", "http://devbootcampmentorship.eventbrite.com/"
%p
  If you have any questions comments or concerns please contact #{mail_to "john@devbootcamp.com"} or #{mail_to "brett@devbootcamp.com"}.
%h3
  Happy Mentoring!
