.row
  .large-11.columns.large-centered
    %h1.subheader.centered
      Thank You For Joining Us On The Journey! 
    %h2.subheader.centered
      %a
        = @user.first_name.capitalize
        = @user.last_name.capitalize
    %h3.subheader.centered
      %a
        = @user.email.capitalize
    %h3.subheader.centered
      %a
        = @user.contact_phone.capitalize
= render "layouts/next_step"
