.row
  .large-11.columns.large-centered
    %h2.subheader.centered
      %a
        #{@user.first_name.capitalize}, you are the #{User.count.ordinalize} member of our community!
    %h3.subheader.centered
      Thank You For Joining Us On The Journey! 
    %h4.subheader.centered
      %a
        your email :: 
        = @user.email.capitalize
        - unless current_user
          = link_to "Connect Via Linkedin!", "/auth/linkedin", class: "button rounded success tiny"
= render "layouts/next_step"
