.row
  .large-10.columns.large-centered.panel
    %h4.subheader.centered
      %a
        The next cohort starts on #{Cohort.next.start_date.strftime("%B #{Cohort.next.start_date.day.ordinalize}")}.
    %h4.subheader.centered
      There will be an informal meet and greet on the night of the #{Cohort.next.mentor_night.day.ordinalize}.
    %h4.subheader.centered
      For More Info, 
      = link_to "http://devbootcampmentorship.eventbrite.com/"
    %h5.subheader.centered
      You will be connected with 1 or 2 boots (via email) on or about the #{Cohort.next.mentor_night.day.ordinalize}.
